<clr-datagrid (clrDgRefresh)="updatePage($event)" [clrDgLoading]="componentStatus === 'loading'">

  <clr-dg-column [clrDgField]="'firstName'">
    <ng-container *clrDgHideableColumn="{ hidden: false }">First Name</ng-container>
  </clr-dg-column>

  <clr-dg-column [clrDgField]="'lastName'">
    <ng-container *clrDgHideableColumn="{ hidden: false }">Last Name</ng-container>
  </clr-dg-column>

  <clr-dg-column [clrDgField]="'email'">
    <ng-container *clrDgHideableColumn="{ hidden: false }">Email</ng-container>
  </clr-dg-column>

  <clr-dg-column [clrDgField]="'phone'">
    <ng-container *clrDgHideableColumn="{ hidden: false }">Phone</ng-container>
  </clr-dg-column>

  <clr-dg-column [clrDgField]="'createdAt'">
    <ng-container *clrDgHideableColumn="{ hidden: true }">Created At</ng-container>
  </clr-dg-column>

  <clr-dg-column [clrDgField]="'updatedAt'">
    <ng-container *clrDgHideableColumn="{ hidden: true }">Updated At</ng-container>
  </clr-dg-column>

  <clr-dg-row *ngFor="let contact of pageContacts">
    <clr-dg-cell>{{ contact.firstName }}</clr-dg-cell>
    <clr-dg-cell>{{ contact.lastName }}</clr-dg-cell>
    <clr-dg-cell>{{ contact.email }}</clr-dg-cell>
    <clr-dg-cell>{{ contact.phone }}</clr-dg-cell>
    <clr-dg-cell>{{ contact.createdAt | date }}</clr-dg-cell>
    <clr-dg-cell>{{ contact.updatedAt | date }}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    {{ contactsCount > 0 ? pagination.firstItem + 1 : 0 }} - {{ contactsCount > 0 ? pagination.lastItem + 1 : 0 }} of {{ pagination.totalItems }} contacts
    <clr-dg-pagination #pagination [clrDgTotalItems]="contactsCount" [clrDgPageSize]="pageSize"></clr-dg-pagination>
  </clr-dg-footer>

</clr-datagrid>